* {
  box-sizing: border-box;
}

body {
  background-color: hsl(226, 93%, 83%);
}

/*main block----------------------------------- */
.game-container {
  background-color: hsl(271, 76%, 53%);
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 40px;
  width: 600px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px;
}

/*score ---------------------------------------------- */
.score-text {
  float: left;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  margin: unset;
}

/*title ---------------------------------------------- */
.game-container h1 {
  display: block;
  font-size: 65px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: underline hsl(15, 100%, 50%);
  margin-bottom: 10px;
  margin-top: 60px;
}

/*difficulty input------------------------------------- */
label {
  font-size: 13px;
  font-family: system-ui;
  font-weight: bold;
  margin-right: 5px;
}

/*main button list------------------------------------- */
.game-list {
  list-style: none;
  display: inline-block;
  padding: 5px 5px;
  margin: unset;
  margin-top: 10px;
}
.game-list li {
  float: left;
}

.game-list li {
  height: 35px;
  width: 100px;
}

.game-list li p {
  margin: unset;
}

/*all buttons -------------------------------------------- */
button {
  width: 100px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: system-ui;
  font-weight: bold;
  box-shadow: inset 0px 0px 5px 0px hsl(19, 100%, 10%);
}

button:hover {
  box-shadow: inset 0px 0px 5px 1px hsl(19, 100%, 90%);
}

/* safe button-------- */
.safe-click {
  background-color: hsl(216, 97%, 62%);
}
.safe-click:active {
  background-color: hsl(216, 97%, 45%);
}

/* undo button-------- */
.undo-click {
  background-color: hsl(313, 97%, 62%);
}
.undo-click:active {
  background-color: hsl(313, 97%, 45%);
}

/* smiley button-------- */
.smiley {
  width: 30px;
  display: inline-block;
}

.smiley:hover {
  border: 1px solid hsl(271, 76%, 43%);
  border-radius: 40%;
}

.smiley:active {
  background-color: hsl(271, 46%, 43%);
  border: 2px solid hsl(271, 76%, 23%);
  border-radius: 40%;
}

/*lifes ---------------------------------------------- */
.heart {
  width: 15px;
  text-align: center;
  margin-bottom: 3px;
}

/*timer ---------------------------------------------- */
.game-container h3 {
  margin-top: -3px;
  margin-bottom: 5px;
  font-family: monospace;
  font-size: 25px;
}

/*board---------------------------------------------- */
.board-container {
  display: inline-block;
  margin: 0 auto;
  background-color: black;
  border-radius: 5px;
}

/* board-------- */
.board-container table {
  border: 3px solid hsl(34, 100%, 50%);
  border-radius: 5px;
  border-spacing: 1px;
}

.board-container table td {
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  width: 40px;
  height: 40px;
  background-color: hsl(240, 100%, 87%);
  position: relative;
}

/*mine -------- */
.mine {
  background-image: url('../img/explosion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/*cover -------- */
.cover {
  background-color: hsl(34, 100%, 50%);
  box-shadow: inset 0px 0px 5px 0px hsl(19, 100%, 10%);
  position: absolute;
  margin: unset;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.cover:hover {
  box-shadow: inset 0px 0px 5px 1px hsl(19, 100%, 90%);
}

.cover-trans {
  background-color: hsla(34, 100%, 50%, 0.336);
}

.cover p {
  margin-top: 10px;
  margin-left: 5px;
}

/*hint -------- */
.hint-img {
  width: 40px;
  margin-top: 10px;
  margin-right: -5px;
}

.hint-cell {
  background-color: hsl(15, 100%, 50%);
  background-image: url('../img/unusedHint.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: none;
  z-index: 2;
}

/*safe click -------- */
.safe-cell {
  background-color: hsl(216, 97%, 62%);
  background-image: url('../img/safe.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: none;
  z-index: 2;
}

/*display -------- */
.show {
  display: none;
}

/*switchs------------------------------------------- */
.modes-list {
  float: right;
  display: block;
  margin: auto;
  list-style: none;
  margin-top: -15px;
}
.modes-list li {
  padding: 10px;
  width: 190px;
  height: 30px;
}

.manual-text {
  float: left;
  margin: 0 auto;
  font-family: system-ui;
  margin-left: 20px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}

.boom-text {
  float: left;
  margin: 0 auto;
  font-family: system-ui;
  margin-left: 20px;
  margin-right: 43px;
  font-weight: bold;
  font-size: 15px;
}

.switch {
  background-color: hsl(271, 46%, 33%);
  cursor: pointer;
  width: 10px;
  height: 10px;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  border-radius: 5px;
  border: 1px solid hsl(271, 46%, 33%);
}
.switch input {
  opacity: 0;
}

.slider {
  background-color: hsl(0, 0%, 0%);
  cursor: pointer;
  position: absolute;
  width: 10px;
  top: 4px;
  left: 21px;
  height: 10px;
  transition: 0.3s;
  border-radius: 30%;
}
.switch:hover {
  background-color: hsl(253, 46%, 40%);
  border: 1px solid hsl(271, 46%, 40%);
}

input:checked + .slider {
  transform: translateX(-17px);
  background-color: hsl(15, 100%, 50%);

  box-shadow: 0px 0px 20px 1px hsl(41, 100%, 90%);
}

/* footer-------------------------------------------------------------------- */
footer {
  color: hsl(41, 50%, 80%);
  text-align: center;
  font-family: system-ui;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 5px 5px 20px black;
  margin-top: 22px;
  margin-bottom: -25px;
}
