* {
  box-sizing: border-box;
  margin: auto;
  margin-top: 20px;
}

.game-container {
  background-color: blueviolet;
  text-align: center;
  margin-top: 100px;
  padding: 20px;
  width: 1000px;
}

.game-container button {
  width: 50px;
  height: 30px;
}

.board-container {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

table td {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: hsl(240, 100%, 77%);
}
