* {
  box-sizing: border-box;
}

body {
  background-color: hsl(271, 56%, 95%);
}
.game-container {
  background-color: hsl(271, 76%, 53%);
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 40px;
  width: 600px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px;
}

.score-text {
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  margin: unset;
}

.game-container h1 {
  font-size: 65px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: underline hsl(15, 100%, 50%);
  margin-bottom: 10px;
  margin-top: 15px;
}

.top-list-container {
  list-style: none;
  display: inline-block;
  padding: 5px 5px;
  margin: unset;
  margin-top: 10px;
}

.top-list-container li {
  float: left;
  /* border: 1px solid black; */
  height: 35px;
  width: 100px;
}

.top-list-container li p {
  margin: unset;
}
label {
  font-size: 13px;
  font-family: system-ui;
  font-weight: bold;
  margin-right: 5px;
}

button {
  width: 100px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: system-ui;
  font-weight: bold;
  box-shadow: inset 0px 0px 5px 0px hsl(19, 100%, 10%);
}

button:hover {
  box-shadow: inset 0px 0px 5px 1px hsl(19, 100%, 90%);
}

.safe-click {
  background-color: hsl(216, 97%, 62%);
}
.safe-click:active {
  background-color: hsl(216, 97%, 45%);
}

.smiley {
  width: 30px;
  display: inline-block;
}

.smiley:hover {
  border: 1px solid hsl(271, 76%, 43%);
  border-radius: 40%;
}

.smiley:active {
  background-color: hsl(271, 46%, 43%);
  border: 1px solid hsl(271, 76%, 43%);
  border-radius: 40%;
}

.heart {
  width: 15px;
  text-align: center;
  margin-bottom: 3px;
}

.game-container h3 {
  margin-top: -3px;
  margin-bottom: 5px;
  font-family: monospace;
  font-size: 25px;
}

.board-container {
  display: inline-block;
  margin: 0 auto;
  background-color: black;
  border-radius: 5px;
}

.board-container table {
  border: 3px solid hsl(34, 100%, 50%);
  border-radius: 5px;
  border-spacing: 1px;
}

.board-container table td {
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  width: 40px;
  height: 40px;
  background-color: hsl(240, 100%, 87%);
  position: relative;
}

.mine {
  background-image: url('../img/explosion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.cover {
  background-color: hsl(34, 100%, 50%);
  box-shadow: inset 0px 0px 5px 0px hsl(19, 100%, 10%);
  position: absolute;
  margin: unset;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.cover:hover {
  box-shadow: inset 0px 0px 5px 1px hsl(19, 100%, 90%);
}

.cover p {
  margin-top: 10px;
  margin-left: 5px;
}

.hint-img {
  width: 40px;
  margin-top: 10px;
  margin-right: -5px;
}

.hint-cell {
  background-color: hsl(15, 100%, 50%);
  background-image: url('../img/unusedHint.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: none;
  z-index: 2;
}

.safe-cell {
  background-color: hsl(216, 97%, 62%);
  background-image: url('../img/safe.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: none;
  z-index: 2;
}
.show {
  display: none;
}
